*{
    margin:0;
    padding:0;
    text-align:center;
}
h1{
    color: black;
}
.btn-outline-light {
    color: #413F42;
    border-color: #413F42;
}
img{
    opacity:0.6
}
.navbar{    position:absolute;
    top:30px;
    z-index:10;
    background:transparent;
    width:100%;
}
.logo{
    opacity: 1;
}
@media only screen and (max-device-width:500px)  {
    .navbar-light{
        margin-left: 00px;
        padding-top: 0;
    }

    h1{
        font-size: 1.5rem;
        font-weight:bold;
    }

}